# You can drop this file into /etc/cron.d/ to run borgmatic nightly.

{{ cron_min }} {{ cron_hour }} {{ cron_day_month }} {{ cron_month }} {{ cron_day_week }} root PATH=$PATH:/usr/bin:/usr/local/bin /usr/local/bin/borgmatic --syslog-verbosity 1
