pagerduty_routing_key: "yourroutingkeyhere"
healthchecks_email_host: "exchange.example.com"
healthchecks_email_port: "587"
healthchecks_email_user: "username"
healthchecks_email_password: "password"
healthchecks_email_use_tls: True
healthchecks_admins: "[('John', 'john@example.com')]"
default_from_email: "root@example.com"